* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

.main {
  width: 900px;
  border: 1px solid black;
  margin: auto;
  margin-top: 50px;
  font-size: 1.6rem;
}

.top {
  width: 100%;
  height: 40px;
  border-bottom: 2px solid red;
  padding: 20px 0;
}

.top>span {
  font-size: 3rem;
  color: purple;
  padding: 10px;
  display: inline-block;
  margin-right: 310px;
}
.top>input {
  width: 200px;
  height: 30px;
  display: inline-block;
}
.top>button {
  width: 50px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  font-size: 2em;
  background: deepskyblue;
  border-radius: 5px;
  vertical-align: middle;
  outline: none;
}
.content {
  width: 100%;
}

.left {
  width: 33%;
  display: inline-block;
}
.img {
  width: 100%;
  border: 1px dotted black;
}
.left_ {
  width: 40%;
  height: 180px;
  text-align: center;
  padding: 10px;
  display: inline-block;
}
.title {
  width: 70px;
  height: 30px;
  line-height: 30px;
  background: purple;
  border-radius: 5px;
  font-size: 2rem;
  color: white;
  margin: auto;
  margin-top: 10px
}
.date {
  margin: auto;
  margin-top: 10px;
  font-size: 15px;
}
.right_ {
  width: 50%;
  display: inline-block;
  font-size: 20px;
}
